/*首页*/
.fix_footer{
	z-index: 999;
	height: 2rem;
	background: #607ef0;
	height: 0.9rem;
	position: fixed;
	top: 0;
}
.fix_footer div{
	float: left;
	line-height: 0.9rem;
}
.fix_footer_left{
	width: 0.8rem;
	font-size: 0.5rem;
	color: #6a6767;
	padding-left: 0.2rem;
	cursor: pointer;
}
.fix_footer_middle{
	width: 5.5rem;
	text-align: center;
	font-size: 0.3rem;
	font-family: "微软雅黑";
	color: white;
	letter-spacing: 0.06rem;
}
.fix_footer_right{
	width: 0.7rem;
	font-size: 0.5rem;
	color: #6a6767;
	padding-left: 0.3rem;
	cursor: pointer;
}
.fix_footer .new_i{
	font-size: 0.5rem;
	color: white;
}
/*nav导航*/
/*.sucaihuo-container{
	z-index: 999;
}
.sucaihuo-container .outermost{
	z-index: 999;
}*/
/*轮播图*/
.swiper_custom{
	width: 100%;
	/*height: 3.6rem;*/
	margin-top:0.9rem;
	overflow: hidden;
}
.swiper-container {
    width: 100%;
    /*height: 3.6rem;*/
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color:#000000;/* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
  	background-color:rgba(0,0,0,0); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/*nav导航*/
.col-xs-nav{width: 18%; float: left;}
.quick{ width: 100%; overflow: hidden;padding-top:6%;}
.quick_img{ margin-left: 5.6%; text-align: center; font-size: 0.24rem; padding-bottom: 0.42rem;}
.quick_img a{ color: #000;}
.quick_img p{ line-height: 0.5rem;color: #474545;font-size:0.24rem;}
.quick_img img{
	width: 0.86rem;
	height: 0.86rem;
}
.jian{ height: 0.05rem; background: #eaeaea;}

/*nav导航流光效果*/
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }
.logo_flash{ position: relative; margin: 0 auto; transition-duration: .5s; }
.logo_flash{overflow: hidden; }
.logo_flash:before{
content:"";
position: absolute;
left: -665px;
top: -460px;
width: 1000px;
height: 15px;
background-color: rgba(255,255,255,.5);
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
-webkit-animation: searchLights 1.5s ease-in 1.5s infinite;
-o-animation: searchLights 1.5s ease-in 1.5s infinite;
animation: searchLights 1.5s ease-in 1.5s infinite;
}
@-webkit-keyframes searchLights {
0% { left: -500px; top: 0; }
to { left: 320px; top: 400px; }
}
@-o-keyframes searchLights {
0% { left: -500px; top: 0; }
to { left: 320px; top: 400px; }
}
@-moz-keyframes searchLights {
0% { left: -500px; top: 0; }
to { left: 320px; top: 400px; }
}
@keyframes searchLights {
0% { left: -500px; top: 0; }
to { left: 320px; top: 400px; }
}
/*导航结束,show展示开始*/
.show_01{
	position: relative;
	overflow: hidden;
}
.show_01 img{
	width:3.7rem;
	float: left;
}
.show_01 img:first-child{
	margin-right: 0.1rem;
}
.service01{
	position: absolute;
	left: 0.33rem;
	bottom: 0.25rem;
	width: 1.48rem;
	height: 0.32rem;
}
.service02{
	position: absolute;
	left: 4.03rem;
	bottom: 0.25rem;
	width: 1.48rem;
	height: 0.32rem;	
}
.mar_to1{
	margin-top: 0.2rem;
	position: relative;
}
.posit_title{
	position:absolute;
	top:50%;
	-webkit-transform:translate(0,-50%);
	font-size: 0.5rem;
	color:white;
	width: 100%;
	text-align: center;
}
/*项目优势*/
.xm_titl1 h2{
	text-align: center;
	font-size: 0.44rem;
	letter-spacing: 0.04rem;
	font-weight: 600;
	margin: 0.4rem 0 0.4rem 0;
}
.xmys_on{
	width: 6.9rem;
	margin-left: 0.3rem;
	border: 1px dashed #959595;
	border-radius: 6px;
	overflow: hidden;
	margin-top: 0.2rem;
}
.xmys_on p{
	padding: 0.35rem 0.1rem 0.5rem 0.25rem;
	font-size: 0.26rem;
	letter-spacing: 0.05rem;
	line-height: 0.4rem;
	color: #555656;
}
.xmys_he{
	padding: 0.22rem 0 0 0.12rem;
}
.xmys_he span{
	display: block;
	float: left;
}
.xmys_he span:last-child{
	width: 5.5rem;
}
.xmys_1{
}
.xmys_1 i{
	font-size: 0.7rem;
	color: #00a0ea;
}
.xmys_2{
	font-size: 0.36rem;
	line-height: 0.5rem;
	margin-left: 0.3rem;
	color: #00a0ea;
	margin-top: 0.1rem;
}
.butt button{
	width: 2.3rem;
	height: 0.8rem;
	border: none;
	background: none;
	border-radius: 9px;
	padding: 0;
	margin: 0;
	font-size: 0.34rem;
}
.butt button:first-child{
	color: white;
	background: #00a0ea;
	margin: 0 0.5rem 0.35rem 0.9rem;
}
.butt button:first-child i{
	font-size: 0.34rem;
}
.butt button:last-child{
	color:#f98b09;
	border: 0.01rem solid #f98b09;
	height: 0.78rem;
}
.butt button:last-child i{
	font-size: 0.34rem;
}
.bmlc{
	margin-top: 0.45rem;
}
.swiper_two {
	width: 90%;
	margin-left: 5%;
	height: 100%;
	overflow: hidden;
	background: #fff;
}
.swiper-slide_class {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: block;
    background-color:#000000;/* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
  	background-color:rgba(0,0,0,0); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
  	-webkit-transition: transform 1.0s;
	-moz-transition: transform 1.0s;
	-ms-transition: transform 1.0s;
	-o-transition: transform 1.0s;
	transition: transform 1.0s;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);  
	-o-transform: scale(0.9);  
	transform: scale(0.9);
}
.swiper_three .swiper-wrapper .swiper-slide_class{
	-webkit-transition: transform 1.0s;
	-moz-transition: transform 1.0s;
	-ms-transition: transform 1.0s;
	-o-transition: transform 1.0s;
	transition: transform 1.0s;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);  
	-o-transform: scale(0.9);  
	transform: scale(0.9);
}
.swiper-slide_class div{
	width: 95%;
	margin: 2.5%;
	background-color:#000000;/* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
  	background-color:rgba(0,0,0,0); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
}
.swiper-slide_class div img{
	width: 100%;
}

.swiper-slide_class p{
	font-size: 0.2rem;
	color: #262525;
}

.guarantee{
	background-image: url(../images/index/back_guarantee.jpg);
	background-position: center;
	background-size: cover;
	width: 7.5rem;
	height: 3.98rem;
}
.swiper_three {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-top: 1.6rem;
	padding-bottom: 0.3rem;
}
.swiper_three .swiper-wrapper .swiper-slide1-active1{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);  
	-o-transform: scale(1.1);  
	transform: scale(1.1);
}
.hezuo1{
	width: 100%;
	height: 3rem;
	background-image: url(../images/index/back_hang1.jpg);
	background-position: center;
	background-size: cover;
}
.ts{
	padding: 0.28rem 0.37rem 0 0.47rem ;
	width: 6.66rem;
}
.tongz span{
	font-size: 0.26rem;
	color:#101010;
	margin-bottom: 0.13rem;
	display: block;
}
.tongz p{
	font-size: 0.21rem;
	color:#101010;
	line-height: 0.35rem;
	margin-bottom: 0.3rem;
	letter-spacing: 0.02rem;
}
.shengm span{
	font-size: 0.26rem;
	color:#e61a1a;
	margin-bottom: 0.13rem;
	display: block;
}
.shengm p{
	font-size: 0.21rem;
	color:#e61a1a;
	line-height: 0.35rem;
	letter-spacing: 0.02rem;
}
.bm_back{
	width: 7.5rem;
	height: 10.54rem;
	margin-top: 0.4rem;
	background-image: url(../images/index/back_bm.jpg);
	background-position: center;
	background-size: cover;
}
/*报名*/
.bmbm{
	width: 6.8rem;
	margin: 0 0.4rem 0 0.3rem;
	padding-top: 2.6rem;
	height: auto;
}
.bmbm_ch{
	height: 0.7rem;
	width: 100%;
	margin-bottom: 0.2rem;
}
.bmch_le{
	width: 1.4rem;
	height: 0.7rem;
	float: left;
}
.bmch_le span{
	display: block;
	text-align: center;
	line-height: 0.7rem;
	font-size: 0.3rem;
	color: white;
}
.bmch_ri{
	width: 5.4rem;
	height: 0.7rem;
	float: left;
}
.bmch_ri input{
	border: none;
	border-radius: 10px;
	background: white;
	width: 95%;
	padding-left:5%;
	height: 0.7rem;
	margin: 0;
	color:#757575;
   font-size: 0.24rem;
   letter-spacing: 0.04rem;
   padding-left: 0.3rem;
}
.sele{
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 10px;
	background: white;
	width: 95%;
	padding-left:5%;
	height: 0.7rem;
	margin: 0;
	color:#757575;
   font-size: 0.24rem;
   letter-spacing: 0.04rem;
}
input::-webkit-input-placeholder {
       color:#757575;
       font-size: 0.24rem;
       letter-spacing: 0.04rem;
       padding-left: 0.1rem;
}
.bmch_ri .sub{
	width: 100%;
	height: 0.8rem;
	font-size: 0.34rem;
	padding: 0;
}
/*底部导航*/
.footer_n{font-size: 0.24rem; text-align: center;width: 7.5rem;z-index: 999;}
.footer_left{ height: 1.3rem;  background:#eeeeee; display: flex;align-items:center;ustify-content:center;flex-direction:column;}
.footer_left p{text-align:center;color: #939292;font-size: 0.24rem;}
.col-xs-3{
	width: 25%
}
.footer_n div{
	float: left;
}
.footer_left .more_i{
	font-size: 0.6rem;
	color: #939292;
	margin-top: 0.18rem;
}

/*学校介绍*/
.xxjs_crumbs{
	padding: 0.3rem ;
	font-size: 0.24rem;
}
.xxjs_crumbs span{
	font-size: 0.24rem;
	color: #607ef0;
}
.xxjs_head{
	position: relative;
	overflow: hidden;
}
.xxjs_headfu1{
	height: 0.75rem;
	line-height: 0.75rem;
	padding: 0 0.3rem;
	background: #607ef0;
	font-size: 0.32rem;
	color: white;
	display: block;
	float: left;
	position: absolute;
	left:0.6rem;
	top:0;
	z-index: 10;
}
.xxjs_headfu2{
	height: 0.75rem;
	width: 6.88rem;
	margin-left: 0.3rem;
	border: 1px solid #cccccc;
	margin-top: 0.25rem;
}
.xxjs_more{
	margin:0.4rem;
	position: relative;
	height: 8rem;
	overflow: hidden;
}
.xxjs_more p{
	margin: 0.4rem 0;
	font-size: 0.26rem;
	line-height: 0.4rem;
	color: #323232;
}
.xxjszk{
	height: 0.4rem;
	line-height: 0.4rem;
	font-size: 0.26rem;
	color: #607ef0;
	position: absolute;
	right: 0;
	/*bottom: 0.4rem;*/
	bottom: 0;
	display: block;
	background: white;
}
.xxjs_gd{
	margin-top: 0.5rem;
}
.xxjs_gdco{
	width: 6.8rem;
	margin-left: 0.3rem;
	border: 1px solid #cccccc;
	overflow: hidden;
}
.xxjs_gdco h2{
	display: block;
	font-size: 0.48rem;
	font-weight: 600;
	color: #607ef0;
	border-bottom: 0.06rem solid #607ef0;
	float: left;
	padding: 0.1rem;
	margin-top: 0.3rem;
	margin-left: 0.5rem;
}
.xxjs_con{
	clear: both;
	padding: 0.4rem;
}
.hot img{
	width: 0.4rem;
	height: 0.25rem;
}
.frh_tit{
	font-size: 0.3rem;
	color: #323232;
	line-height: 0.78rem;
	max-width: 5rem;
	margin-right: 0.12rem;
	overflow: hidden;	
	text-overflow:ellipsis;
	white-space: nowrap;

}
.fh_ri_he{
	width: 6rem;
	height: 0.78rem;
	line-height: 0.6rem;
	border-bottom: 1px dashed #a0a0a0;
	cursor: pointer;
}
.fh_ri_he i{
	float: left;
	font-size: 0.25rem;
	line-height: 0.78rem;
}
.fh_ri_he .iclas{
	color: #ff7011;
}
.fh_ri_he div{
	float: left;
}

.frh_on1{
	width: 0.06rem;
	height: 0.25rem;
	background: #3d99df;
	margin:0.19rem 0.2rem 0 0.2rem;
}
.frh_on2{
	width: 0.06rem;
	height: 0.25rem;
	background: #1eb7b9;
	margin:0.19rem 0.2rem 0 0.2rem;
}
/*学校vr页面*/
.xxvr_head{
	overflow: hidden;
}
.xxvr_box{
	width: 6.9rem;
	margin-left: 0.3rem;
}
.xxvr_box img{
	float: left;
}
.xxvr_chil{
	width: 6.9rem;
	margin: 0.15rem 0.3rem 0 0.3rem;
}
.xxvr_chil .xxvr_img{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.xxvrchil_img1{
	float: left;
}
.xxvrchil_img2{
	width: 1.73rem;
	height: 0.43rem;
	position: absolute;
	left: 0;top: 0;
}
.xxvr_con{
	margin: 0.3rem;
}
.xxvr_con h2{
	font-size: 0.3rem;
	color:#181818;
	padding: 0 0 0.2rem 0;
	letter-spacing: 0.03rem;
}
.xxvr_con p{
	font-size: 0.26rem;
	color:#666666;
	letter-spacing: 0.02rem;
	line-height: 0.35rem;
	display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;
}
.xxvr_but{
	border-top: 1px dashed #d2d2d2;
}
.xxvr_but div{
	float: left;
	width: 3.43rem;
	margin: 0.13rem 0 0.13rem 0;
	text-align: center;
}
.ssvr_bule{
	border-right: 1px dashed #d2d2d2;
}
.xxvr_but button{
	width: 2.27rem;
	height: 0.63rem;
	border: none;
	background: none;
	border-radius: 9px;
	padding: 0;
	margin: 0;
	font-size: 0.28rem;
}
.xxvr_but i{
	font-size: 0.28rem;
}
.ssvr_bule button{
	color: #f98b09;
	border: 0.01rem solid #f98b09;
	height: 0.63rem;
}
.ssvr_buri button{
	color:#607ef0;
	border: 0.01rem solid #607ef0;
	height: 0.63rem;
}
.xxvr_more{
	height: 1.16rem;
	background: #eeeeee;
	cursor: pointer;
	font-size: 0.28rem;
	color: #3358e6;
	line-height: 1.16rem;
	text-align: center;
	margin-top: 0.35rem;
}
.xxvr_more .xxvr_morei{
	font-size: 0.25rem;
	color: #3358e6;
}
.vr_top{
	margin-top:0.3rem;
}
/*学校简章页面*/
.xxjz_rownew{
	height:1.6rem;
}
.xxjz_rownew1{
	margin: 0.2rem 0.3rem;
	height: 1.3rem;
}
.xxjz_rownew1>div{
	float:left;
}
.xxjz_rownewleft{
	width: 2.22rem;
}
.xxjz_rownewleft img{
	width: 100%;
	float: left;
}
.xxjz_rownewright{
	width: 4.5rem;
	margin-left: 0.18rem;
	height: 1.3rem;
}
/*新闻滚动*/
.swiper-toproll{
	width: 100%;
	height: 1.3rem;
	overflow: hidden;
}
.swiper-wrapper .toproll-active p,.swiper-wrapper .toproll-active i{
	color: #fd6753;
}
.swiper-toproll .swiper-wrapper .roll_swiper{
	text-align: left;
	display: block;
}
.roll_swiper i{
	float: left;
	line-height: 0.43rem;
	font-size: 0.32rem;
	color: #a0a0a0;
}
.roll_swiper p{
	float: left;
	line-height: 0.4rem;
	font-size: 0.24rem;
	width: 4rem;
	overflow: hidden;	
	text-overflow:ellipsis;
	white-space: nowrap;
	color: #6a6969;
}
.xxjz_jj{
	margin-top: 0.47rem;
}
.xxjz_jjcon{
	width: 100%;
	height: 3.47rem;
	background-image: url(../images/xxjz/xxjz_jjback.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
.xxjz_jjcon p{
	font-size: 0.27rem;
	line-height: 0.46rem;
	color: #323232;
	margin-top: 0.5rem;
	padding: 0 0.5rem;
}
.xxjz_jjmore{
	height: 0.4rem;
	line-height: 0.4rem;
	font-size: 0.26rem;
	color: #607ef0;
	position: absolute;
	right: 0.55rem;
	/*bottom: 0.4rem;*/
	bottom: 0.75rem;
	display: block;
}
/*简章tab*/
.jz_tab{
	padding: 0.3rem 0.3rem 0.5rem 0.3rem;
	width: 6.9rem;
	background: #f1f5f8;
}
.jz_tab01 tr:nth-child(1){
	font-size: 0.3rem;
	color: #fdf8f8;
	background: #607ef0;
}
.jz_tab01 tr:nth-child(1) td:nth-child(1){
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.jz_tab01 tr:nth-child(1) td:nth-child(2){
	border-right: 1px solid #fff;
}
.jz_tab01 tr:nth-child(2) td:nth-child(1){
	font-size: 0.26rem;
	background: #e7eaed;
	border-bottom: 1px solid #fff;
}
.jz_tab01 tr:nth-child(3) td:nth-child(1){
	font-size: 0.26rem;
	background: #e7eaed;
}
.jz_tab01 tr:nth-child(1) td{
	width: 2.33rem; height: 0.8rem;
}
.jz_tab01 tr:nth-child(2) td{
	width: 2.33rem; height: 0.5rem;
	font-size: 0.26rem;
	background: #ffffff;
}
.jz_tab01 tr:nth-child(3) td{
	width: 2.33rem; height: 0.8rem;
	font-size: 0.26rem;
	background: #FFFFFF;
}
.jz_tab01 tr{
	text-align:center;/** 设置水平方向居中 */
}
.jz_tab01 td{
	vertical-align:middle/** 设置垂直方向居中 */;
	border:1px solid #bababa;
}
.jz_tab01{
	background: #e7eaed;
}
.jz_tab02 tr td:nth-child(1){
	width: 0.6rem;
	background: #e5eafd;
}
.jz_tab02 tr:nth-last-of-type(even) td:nth-child(1){
	width: 0.6rem;
	background: #e5eafd;
	color: #607df0;
	font-size: 0.3rem;
}
.jz_tab02 tr:nth-last-of-type(odd) td:nth-child(1){
	width: 0.6rem;
	background: #e7eaed;
	color: black;
	font-size: 0.3rem;
}
.jz_tab02 tr td:nth-child(2){
	width: 6.3rem;
}
.jz_tab02 tr{
	text-align:center;/** 设置水平方向居中 */
}
.jz_tab02 td{
	vertical-align:middle/** 设置垂直方向居中 */;
}
.jz_tab02 tr:nth-child(1) td{
	border: 1px solid #bababa;
	border-top:none;
	border-bottom: none;
}
.jz_tab02 tr:nth-child(2) td:nth-child(1){
	border-left: 1px solid #bababa;
	border-right: 1px solid #bababa;
	border-top: 1px solid #fff;
}
.jz_tab02 tr:nth-child(3) td:nth-child(1){
	border-left: 1px solid #bababa;
	border-right: 1px solid #bababa;
	border-top: 1px solid #fff;
}
.jz_tab02 tr:nth-child(4) td:nth-child(1){
	border-left: 1px solid #bababa;
	border-right: 1px solid #bababa;
	border-bottom: 1px solid #bababa;
	border-top: 1px solid #fff;
}
.jz_tab02 tr:nth-child(2) td:nth-child(2){
	border: 1px solid #bababa;
}
.jz_tab02 tr:nth-child(3) td:nth-child(2){
	border: 1px solid #bababa;
}
.jz_tab02 tr:nth-child(4) td:nth-child(2){
	border: 1px solid #bababa;
}
.jz_tab02 p{
	text-align: left;
	font-size: 0.2rem;
	line-height: 0.3rem;
	letter-spacing: 0.02rem;
	padding: 0.3rem 0.1rem 0.3rem 0.2rem;
	color: #1b1a1a;
}
.xxjz_dxback{
	margin-top: 0.5rem;
	width: 7.5rem;
	height: 6.37rem;
	background-image: url(../images/xxjz/xxjz_dxback.jpg);
	background-position: center;
	background-size: cover;
}
.xxjz_dxcon{
	width: 5.85rem;
	padding-top: 0.64rem;
	margin-left: 0.77rem;
	height: 4.25rem;
	overflow: hidden;
}
.xxjz_cxcon1{
	overflow: hidden;
	padding: 0.05rem 0;
}
.xxjz_cxcon1 div{
	float: left;
}
.xxjz_cxleft img{
	width: 0.25rem;
	height: 0.26rem;
	margin-top: 0.1rem;
	margin-left: 0.1rem;
}
.xxjz_cxrigh{
	margin-left: 0.3rem;
	width:5.15rem;
}
.xxjz_cxrigh p{
	font-size: 0.24rem;
	line-height: 0.4rem;
	letter-spacing: 0.02rem;
}
.xxjz_dxbutt{
	text-align: center;
	padding-top: 0.3rem;
}
.xxjz_dxbutt button{
	width: 2.1rem;
	height: 0.6rem;
	border: none;
	background: #607df0;
	border-radius: 50px;
	padding: 0;
	margin: 0;
	font-size: 0.24rem;
	color: white;
	cursor: pointer;
}
.xxjz_vide{
	height: 4.6rem;
	background:#f1eff0;
	text-align: center;
}
.xxjz_vide video{
	width: 6.9rem;
	height: 3.9rem;
	margin-top: 0.45rem;
}
.xmys_head{
	width: 6.8rem;
	margin-left: 0.35rem;
	height: 1.14rem;
	background: #fce4d3;
	border-radius: 50px;
}
.xmys_head div{
	float: left;
}
.xmys_hele img{
	width: 0.52rem;
	height: 0.52rem;
	margin-top: 0.13rem;
	margin-left: 0.39rem;
}
.xmys_heri{
	width: 5.5rem;
	margin-left: 0.19rem;
}
.xmys_heri p{
	font-size: 0.3rem;
	color: #fb8227;
	font-weight: 600;
	letter-spacing: 0.02rem;
	line-height: 0.47rem;
	margin-top: 0.1rem;
}
.xmys_con{
	width: 6.55rem;
	margin-left: 0.55rem;
	position: relative;
	margin-top: 0.35rem;
	margin-bottom:0.45rem;
}
.xmys_con p{
	font-size: 0.24rem;
	line-height: 0.47rem;
	color: #323232;
	letter-spacing: 0.012rem;
	overflow: hidden;
	height: 1.41rem;
}
.xconmo{
	font-size: 0.24rem;
	background: #fff;
	float: left;
	color: #607df0;
	position: absolute;
	right: 0;
	bottom: 0;
	line-height: 0.47rem;
	letter-spacing: 0.012rem;
}
.xxjz_dxbutt1{
	text-align: center;
	padding-top: 0.15rem;
}
.xxjz_dxbutt1 button{
	width: 2.1rem;
	height: 0.6rem;
	border: none;
	background: #607df0;
	border-radius: 50px;
	padding: 0;
	margin: 0;
	font-size: 0.24rem;
	color: white;
	cursor: pointer;
}
/*学校新闻页面*/
.xxxx_news{
	margin: 0 0.3rem;
	width: 6.9rem;
}
.xxxx_newcon{
	margin-top: 0.3rem;
	padding-bottom: 0.3rem;
	border-bottom: 1px solid #dcdcdc;
	overflow: hidden;
}
.xxxx_necole{
	width: 2rem;
}
.xxxx_newcon > div{
	float: left;
}
.xxxx_necole img{
	float: left;
}
.xxxx_necori{
	margin-left: 0.25rem;
	width: 4.65rem;
}
.xxxx_necori h2{
	font-size: 0.3rem;
	line-height: 0.42rem;
	color: #323232;
	overflow: hidden;	
	text-overflow:ellipsis;
	white-space: nowrap;
}
.xxxx_necori p{
	font-size: 0.21rem;
	line-height: 0.3rem;
	color: #7b7b7b;
	margin-top: 0.04rem;
	display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden;

}
/*学校新闻详情页*/
.xxxq_con{
	margin: 0 0.3rem;
	width: 6.9rem;
}
.xxxq_con img{
	width: 100%;
}
.xxxq_fu{
	border-bottom: 1px solid #d7d4d4;
}
.xxxq_con h2{
	font-size: 0.36rem;
	line-height: 0.39rem;
	letter-spacing: 0.0128rem;
	font-weight: 600;
}
.xxxq_fu{
	letter-spacing: 0.012rem;
	color: #807f7f;
	font-size: 0.18rem;
	padding: 0.2rem 0;
}
.xxxq_con p{
	margin: 0.35rem 0;
	font-size: 0.27rem;
	line-height: 0.37rem;
	letter-spacing: 0.012rem;
	color:#49494a;
}
.xxxq_tjcon{
	width: 6.9rem;
	margin: 0.2rem 0 0 0.29rem;
	border: 1px solid #f03c07;
}
.xxxq_tjli{
	margin: 0 0.18rem 0 0.14rem;
	height: 0.82rem;
	line-height: 0.82rem;
	border-bottom: 1px dashed #898989;
}
.xxxq_tjli i{
	float: left;
	font-size: 0.3rem;
	letter-spacing: 0.012rem;
	margin-right: 0.1rem;
	color: #707070;
}
.xxxq_tjli span{
	display: block;
	float: left;
	font-size: 0.3rem;
	letter-spacing: 0.012rem;
	color: #323232;
	width: 6.1rem;
	overflow: hidden;	
	text-overflow:ellipsis;
	white-space: nowrap;
}
/*招生简章*/
.zsjz_head{
	width: 6.91rem;
	height: 0.98rem;
	margin-left: 0.3rem;
	margin-top: 0.6rem;
	background-image: url(../images/zsjz/zsjz_head.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
.zsjz_head p{
	font-size: 0.32rem;
	line-height: 0.75rem;
	letter-spacing: 0.0154rem;
	color: #FFFFFF;
	text-align: center;
}
.zsjz_con{
	width: 6.91rem;
	margin-left: 0.3rem;
	margin-top: 0.45rem;
}
.zsjz_cohea{
	height: 0.76rem;
	background: #eeeeee;
}
.zsjz_cole{
	width: 0.06rem;
	height: 0.76rem;
	float: left;
	background: #607ef0;
}
.zsjz_cohea p{
	font-size: 0.32rem;
	line-height: 0.75rem;
	float: left;
	margin-left: 0.33rem;
	color: #323232;
	letter-spacing: 0.012rem;
	font-weight: 600;
}
.zsjz_cocon p{
	margin: 0.4rem 0;
	font-size: 0.27rem;
	line-height: 0.42rem;
	letter-spacing: 0.012rem;
	color: #323232;
}
.zsjz_morp1{
	height: 2.1rem;
	overflow: hidden;
	position: relative;
	display: block;
}
.zsjz_morp1fu{
	height: 0.4rem;
	line-height: 0.4rem;
	font-size: 0.26rem;
	color: #607ef0;
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	background: white;
}
.zsjz_butt button{
	width: 2.3rem;
	height: 0.8rem;
	border: none;
	background: none;
	border-radius: 9px;
	padding: 0;
	margin: 0;
	font-size: 0.34rem;
}
.zsjz_butt button:first-child{
	color: white;
	background: #00a0ea;
	margin: 0 0.5rem 0 0.9rem;
}
.zsjz_butt button:first-child i{
	font-size: 0.34rem;
}
.zsjz_butt button:last-child{
	color:#f98b09;
	border: 0.01rem solid #f98b09;
	height: 0.78rem;
}
.zsjz_butt button:last-child i{
	font-size: 0.34rem;
}
/*自定义swiper分页器*/
.swiper-pagination .swiper-pagination-bullet{
	opacity: .8;
	background: #9e9e9e;
}
.swiper-pagination .swiper-pagination-bullet-active{
	opacity: 1;
	background: white;
}
/*就业前景页*/
.jy_content1{
	background: #e4eaff;
	overflow: hidden;
	padding-bottom: 0.57rem;
}
.jy_img{
	width: 100%;
	float: left;
}
.jy_le1 p{
	font-size: 0.26rem;
	line-height: 0.39rem;
	color: #666666;
	letter-spacing: 0.03rem;
	text-indent: 2em;
	padding-right: 0.2rem;
}
.jy_ri1 img{
	width: 3.11rem;
	height: 2.09rem;
	float: left;
}
.jy_le1{
	width: 3.5rem;
	margin-left: 0.35rem;
	margin-top: 0.65rem;
}
.jy_ri1{
	margin-top: 1.32rem;
	margin-left: 0.2rem;
}
.jy_le1,.jy_ri1{
	float: left;
}
.jy_content2{
	background: #e4eaff;
	overflow: hidden;
	padding-bottom: 0.11rem;	
}
.jy_ri2 p{
	font-size: 0.26rem;
	line-height: 0.39rem;
	color: #666666;
	letter-spacing: 0.03rem;
	text-indent: 2em;
}
.jy_le2 img{
	width: 2.79rem;
	height: 4.2rem;
	float: left;
}
.jy_le2{
	width: 2.85rem;
	margin-left: 0.29rem;
	margin-top: 0.58rem;
}
.jy_ri2{
	width: 3.6rem;
	margin-top: 0.45rem;
	margin-left: 0.25rem;
}
.jy_le2,.jy_ri2{
	float: left;
}
.jy_content3{
	background: #e4eaff;
	overflow: hidden;
	padding-top: 0.47rem;	
}
.jy_content3 li{
	background: url(../images/jyqj/jy_fj.jpg) no-repeat 0 0.1rem;
	background-size: 0.47rem 0.23rem;
	font-size: 0.26rem;
	line-height: 0.39rem;
	padding-left: 0.6rem;
	width: 6.1rem;
	margin-left: 0.37rem;
	color: #666666;
	margin-bottom: 0.35rem;
}
.jy_kc{
	background: #e4eaff;
	overflow: hidden;
	padding-bottom: 0.3rem;
}
.jy_kc>div{
	float: left;
}
.jykc_le{
	width: 2.9rem;
	margin-left: 0.4rem;
	margin-top: 0.4rem;
}
.jykc_le>p {
	font-size: 0.26rem;
	line-height: 0.4rem;
	color: #666666;
	letter-spacing: 0.02rem;
	text-indent: 2em;
}
.jyjs_sp{
	font-size: 0.26rem;
	line-height: 0.37rem;
	color: #5674e5;
	letter-spacing: 0.025rem;
}
.jykc_ri{
	width: 3.14rem;
	margin-top: 1.26rem;
	margin-left: 0.35rem;
}
.jykc_ri>img{
	width: 3.43rem;
	height: 3.14rem;
	margin-bottom: 0.6rem;
}
.jykc_ri>p{
	margin-left: 0.35rem;
	padding-top: 0.1rem;
	font-size: 0.26rem;
	line-height: 0.4rem;
	color: #666666;
	letter-spacing: 0.02rem;
}
.jy_con h2{
	font-size: 0.44rem;
	line-height: 0.44rem;
	padding-top: 0.55rem;
	padding-bottom: 0.38rem;
	color: #ee8c05;
	letter-spacing: 0.02rem;
	text-align: center;
}
.jy_con{
	background: #e4eaff;
	overflow: hidden;
}
.jydqp{
	clear: both;
	width: 6.56rem;
	margin-left: 0.4rem;
	font-size: 0.26rem;
	line-height: 0.4rem;
	color: #666666;
	letter-spacing: 0.03rem;
	text-indent: 2em;
	margin-top: 0.15rem;
	
}
