
.cx{
	width: 80%;
}
.content_inpu{
	width: 694px;
	background: #e5e5e5;
	padding: 20px;
	overflow: hidden;
}
.content_inpu div{
	position: relative;
	margin: 20px auto;
	width: 500px;
	
}
.content_inpu input{
	height: 60px;
	background: rgba(255,255,255,0);
	font-size: 22px;
	color:#ffffff;
	border-radius: 5px;
	border: 1px solid #ffffff;
	border-radius: 5px;
}
input::-ms-input-placeholder{
	text-align: center;
}
input::-webkit-input-placeholder{
	text-align: center;
}

.con_name input{
	width: 100%;
	text-align: center;
}

.con_card input{
	width: 100%;
	text-align: center;
}
.con_code{
	overflow: hidden;
}
.con_code input{
	width: 60%;
	padding: 0;
	border-radius: 5px 0 0 5px;
	text-align: center;
	border-right: none;
	float: left;
}
.con_code span{
	width: 39.8%;
	height: 62px;
	background: rgba(240,233,30,0.8);
	font-size: 22px;
	line-height: 60px;
	color:black;
	border-radius: 0 5px 5px 0;
	border:none;
	display: block;
	float: right;
	text-align: center;
	float: left;
}
.content_inpu .con_inqu{
	overflow: hidden;
}
.content_inpu .con_inqu .an:last-child{
	margin-left: 10%;
}
.content_inpu .con_inqu .an{
	width: 45%;
	height: 60px;
	line-height: 60px;
	font-size: 22px;
	color: white;
	border: 1px solid #ffffff;
	border-radius:5px;
	cursor: pointer;
	background: #034291;
	float: left;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {   
 /* WebKit browsers */   
color: #ffffff;   
}   
input:-moz-placeholder, textarea:-moz-placeholder {   
/* Mozilla Firefox 4 to 18 */   
color: #ffffff;   
}   
input::-moz-placeholder, textarea::-moz-placeholder {   
 /* Mozilla Firefox 19+ */   
color: #ffffff;   
}   
input:-ms-input-placeholder, textarea:-ms-input-placeholder {   
 /* Internet Explorer 10+ */   
color: #ffffff;   
}