.windowstyle180640{ font-size: 20pt; font-family: 宋体; font-weight: bold; color: #ffffff ;}
.fontstyle72793{ font-size: 9pt; color: #222222; text-decoration: none ;}
.splitflagstyle72793{ color: #222222 ;}
.winstyle72793{ font-size: 9pt; color: #222222; font-family: 宋体 ;}
.windowstyle72794{ font-weight: bold; font-size: 10pt; color: #222222; font-family: 宋体 ;}
.timestyle198104{ font-size: 9pt ;}
.subtitlestyle198104{ font-size: 12pt; line-height: 150%; font-family: 黑体 ;}
.titlestyle198104{ font-weight: bold; font-size: 18pt; line-height: 150%; font-family: 黑体 ;}
.attachstyle198104{ font-size: 9pt;}
.contentstyle198104{ font-size: 9pt; color: #222222; line-height: 150% ;}
.clickstyle198104{ font-size: 9pt;}
.authorstyle198104{ font-size: 9pt; line-height: 150% ;}