.windowstyle72796{ font-size: 20pt; font-family: 宋体; font-weight: bold; color: #ffffff ;}
.fontstyle72793{ font-size: 9pt; color: #222222; text-decoration: none ;}
.splitflagstyle72793{ color: #222222 ;}
.winstyle72793{ font-size: 9pt; color: #222222; font-family: 宋体 ;}
.windowstyle72794{ font-weight: bold; font-size: 10pt; color: #222222; font-family: 宋体 ;}
.clickstyle72795{ line-height: 150%; color: #222222; font-size: 9pt;}
.leaderfont72795{ line-height: 150%; color: #222222; font-size: 9pt ;}
.titlestyle72795{ font-size: 14px; font-family: 宋体; line-height: 190% ;}
.columnstyle72795{ line-height: 150%; color: #222222; font-size: 9pt; text-decoration: none ;}
.buttonstyle72795{ font-size: 9pt ;}
.timestyle72795{ font-size: 14px; font-family: 宋体; color: #a8a8a8; line-height: 150% ;}
.winstyle72795{ padding: 0px;}
A.c72795 {
font-size: 14px; font-family: 宋体; line-height: 190% 
;}
A.c72795:link {
color:#222222;}
A.c72795:visited {
color:#222222;}
A.c72795:active {
color: #222222;}
A.c72795:hover {
color: #cc0000;}